/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */

html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 960px;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}

#grailsLogo {
	/*background-color: #abbf78;*/
	display: inline-block;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	/*color: #48802c;*/
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	/*color: #48802c;*/
	font-size: 1.25em;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
}

.content {
}

.content h1 {
	/*border-bottom: 1px solid #CCCCCC;*/
}

.scaffold-list h1 {
	border: none;
}

.footer {
	/*background: #abbf78;*/
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

<<<<<<< HEAD
/*table {
	border-top: 1px solid #DFDFDF;
=======
table {
	/*border-top: 1px solid #DFDFDF;*/
>>>>>>> Adding users/tags pages.
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	/*padding-left: 1.25em;*/
}

tr>td:last-child, tr>th:last-child {
	/*padding-right: 1.25em;*/
}

td, th {
	line-height: 1.5em;
	/*padding: 0.5em 0.6em;*/
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
<<<<<<< HEAD
	background: #E1F2B6;
}*/
=======
	/*background: #E1F2B6;*/
}
>>>>>>> Adding users/tags pages.

/* PAGINATION */

.pagination {
	border-top: 0;
	margin-bottom: 10px;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
	padding-left: 36px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

/* Added */

<<<<<<< HEAD
#menus {
	display:inline-block;
	width:70%;
}
=======

>>>>>>> Adding users/tags pages.

#menus {
	display:inline-block
}

#menus ul {
	padding:0;
	margin:0;
	list-style-type:none;
 }

#menus li {
	margin-left:2px;
	float:left; 
 }

#menus ul li a {
 	display:block;
	float:left;   
	color:white; 
	text-decoration: none; 
	font-size:17px;		
	text-align:center;
	padding:5px;
	margin-left:5px;
	border:2px solid;
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
	background:gray;	
}

#menus ul li a:hover {
	background:#FF9900;	
} 

#menus ul li a.youarehere {
	background:#FF9900;
}

#menus .last-link {
	float: right;
}

#header {
	margin-bottom:3em;
}

#subHeader {
	border-bottom: 1px solid rgb(204, 204, 204);
	height: 34px;
	clear: both;
	margin-bottom: 15px;
}

.page-title {
	border-bottom:1px solid #cccccc;
	color: black;
	height:34px;
	margin-bottom: 15px;
}

.page-title h1 {
	font-weight:bold;
	margin-top: 0px;
    margin-bottom: 0px;
	padding-left: 1.25em;
    padding-right: 1.25em;
    vertical-align: baseline;
}

#subHeader h1 {
	color: black;
    float: left;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    vertical-align: baseline;
}

.tabs {
    float: right;
    font-weight: normal;
}

.tabs a {
	background: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: rgb(119, 119, 119);
    display: block;
    float: left;
    font-size: 90%;
    height: 24px;
    line-height: 20px;
    margin: 9px 8px 0px 0px;
    padding: 0px 11px;
    text-decoration: none;
}

.tabs a:hover {
	border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255);
}

.tabs a.currentTab {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: black;
    font-size: 120%;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0px 11px;
}

#list-badge h1{
    margin-top: 3em;
    clear: both;
}

.badge-row {
	margin-top: 0.3em;
	padding-top: 0.7em;
	margin-left: 35px;
	border-top: 1px solid rgb(229, 229, 229);
}

.badge-title {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.badge {
	color: rgb(255, 255, 255) ;
	background-color: rgb(51, 51, 51);
	border: 1px solid rgb(51, 51, 51);
	margin: 0px 3px 3px 0px;
	padding: 0px 6px 0px 3px;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
	border-radius: 6px;
}

.badge-description {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    word-wrap: break-word;
}

.badge-count {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
	text-align: right;
	color: gray;
}

.badge-bronze {
	background-color: rgb(174, 87, 0);
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    width: 10px;
    height: 10px;
    display:inline-block; 
}

.badge-silver {
	background-color: rgb(192,192,192);
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    width: 10px;
    height: 10px;
    display:inline-block; 
}

#topbar {
	height:30px;
	background-color:black;
	padding-right:30px
}

.topbar-link {
	color:white;
	float:right;
	margin:3px 5px;
	text-decoration:none;
}
.badge-gold {
	background-color: rgb(213,213,0);
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    width: 10px;
    height: 10px;
    display:inline-block; 
	background: #FF9900;
}

.youarehere {
	background: #FF9900;
}

.youarenotthere {
	background: gray;
}

#pagecontent {
	margin-left:20px; 
	margin-right:20px;
}

#title {
	border-bottom:1px solid #cccccc;
	font-weight:bold;
	color: black;
}

#question-summary {
	display:block;
	margin-bottom: 20px;
	height:100px;
}

#votes-counter {
	width: 80px;
	float:left;
	text-align: center;
	background:#EEEEEE;
	margin-right: 15px;
	height:100px;
}

#summary a {
	color: #0077cc;
	text-decoration: none;
}

#summary h3 {
	margin-bottom: 7px;
}

#question-description {
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	height:50px;
}

#votes-counter .nbvotes {
	font-weight:normal; 
	font-size:24px; 
	color:#555555;
}

#votes-counter .nbvotes-label {
	color:#555555;
	font-size: 12px;
}

#votes-counter .nbanswers {
	font-weight:bold; 
	font-size:18px; 
	color:#9A4444;
}

#votes-counter .nbanswers-label {
	color:#9A4444;
	font-size: 12px;
}

.question-author {
	float:right;
	font-size: 13px;
}

#message-content {
	font-size:14px;
}

<<<<<<< HEAD
/* Topic list */
.question {
    clear: both;
    width: 80%;
    margin-bottom: 3em;
    margin-top: 10px;
}

.question table {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout:fixed;
    width: 100%;
}

.question .vote-cell {
    width: 10%;
    vertical-align: top;
    text-align: center;
}

.post-cell {
	width: 70%;
}

.post-text {
	word-wrap: break-word;
	width: 100%;
	margin-bottom: 5px;
	margin-right: 5px;
}

.post-tags-list {
	margin-top:1em;
    margin-bottom: 10px;
    clear: both;
}

.post-tag {
	padding: 2px 2px;
	color: rgb(0, 119, 204);
	background-color: rgb(224, 234, 241);
	text-decoration:none
}

.owner {
    background-color: rgb(224, 234, 241);
}
.post-signature {
    padding-left: 5px;
    padding-top: 2px;
    text-align: left;
    vertical-align: top;
    width: 175px;
    height: 58px;
}

.message-footer {
	vertical-align: top;
}

.post-menu {
	padding-top:2px;
}

.post-menu a, span {
    padding: 0px 3px 2px;
    color: rgb(136, 136, 136);
    text-decoration: none;
}

.post-comment {
	color: rgb(136, 136, 136);
    text-decoration: none;
}

.user-avatar {
	float: left;
	width: 32px;
	height: 32px;
}

.user-details {
	float: left;
    margin-left: 5px;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
}

.user-details a {
	color: rgb(0, 119, 204);
    text-decoration: none;
}

.vote {
	text-align:center;
}

.vote-up {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;	
	border-bottom: 15px solid black;
}

.vote-down {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;	
	border-top: 15px solid black;
}

#form-buttons input {
	color:white; 
	text-decoration: none; 
	background-color:rgb(26,26,26);
	margin-top:10px;
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
	cursor:pointer;
}

.profile-italic-description {
	font-style:italic;
	color:rgb(160,160,160);
}

.profile-description {
	font-size:14px;
}

#profile-imagecontainer-div {
	float:left;
	width:128px; 
	height:200px; 
}

#profile-image-div {
	width:128px; 
	height:128px;
	border:1px solid black;
}

#profile-description-div {
	float:left;
	width:450px;
	margin-left:15px;
}

#profile-aboutme-div {
	 float:left; 
	 width:325px; 
	 font-size:14px;
	 font-style:italic;
	 color:rgb(160,160,160);
}

.profile-aboutme {
	width:320px;
	height:100px;
	color:black;
	background:#F8F8F8;
	font-size:14px;
	padding:5px;
=======
.shortdescription {
	font-size:14px;
}

.tag-cell {
	width: 230px;
}


.post-tag {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color:rgb(62,109,142);
	text-decoration:none;
	background-color:rgb(224,234,241);
}

.tag-short-description {
	color:gray;
	font-size:12px;
	line-height:14px; 
	width: 210px;
	text-align: justify;
	margin-bottom: 20px;
}

.username-link {
	color:#0077cc;
	font-size:12px;
	text-decoration: none;
}

.user-description-container {
	margin-left:15px;
>>>>>>> Adding users/tags pages.
}